*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    line-height: 1.6em;
}

.main{
    float:left;
    margin-left:50px;
    /* animation-name:grayish-background;
    animation-duration: 4s; */
    background-color: rgba(255,255,255,1);

}


.first{
    width:320px;
    height:470px;
    margin:10px 0px 0px 10px;
    padding:10px;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.6);
    position:relative;
}

.product-img img{
    width:290px;
    height:300px;
}
.logo{
    width:80px;
    height:30px;
}

.hover-part{
    position:absolute;
    left:75px;
    /* top:450px; */
    animation-name: slideup;
    animation-duration: 1s;
    top:300px;
    display:none;
}


button{
    background-color: #000000;
    color:#ffffff;
    padding:5px;
}


.main:hover .hover-part{
    display:block;
}

.main:hover{
    background-color: rgba(238, 238, 238, 0.5);
}


@keyframes slideup{

    from{
        left:75px;
        top:450px;
    }

    to {
        left:75px;
        top:300px;

    }

}

/* @keyframes grayish-background{
    from{
        background-color: rgba(255,255,255,0.6);

    }

    to{
        background-color: rgba(0,0,0,0.6);

    }
} */